div {
    align-content: center;
    align-items: center;
    margin: 8px;
    background-color: rgba(83, 56, 6, 0.6);
}

h1{
    margin: 8px;
}

p {
    text-align: center;
    color: rgb(177, 210, 30);
    font-size: 200%
}