<article>
    <h5><blockquote><h3><b>“</b></h3><i>Maybe after wiping away the thick, grimy film of Facebook friend requests and Vine stars, we can all see the light of day.</i></blockquote></h5>
    <h4>eps2.0_unm4sk-pt1.tc</h4>
    <p class="flow-text">A brief flashback shows that Tyrell recorded an fsociety video the night he visited Elliot. One month later, Elliot has gone off the grid, living with his mother and maintaining a repetitive routine in an attempt to weaken the influence of Mr. Robot, who continually appears to him and torments him while still refusing to tell him what happened to Tyrell. fsociety continues under Darlene's leadership, hacking the smart home of E Corp general counsel Susan Jacobs and using it as home base after forcing Jacobs to move out. With Mobley's assistance, Darlene executes a hack on the Bank of E Corp, holding their records for ransom.</p>
    <br>
    <img class="responsive-img materialboxed"  src="/assets/img/season2a.jpg">
</article>
